@(color: String)

<a class="@color" href="/">Home</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/redirect">Redirect</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/reverse">Reverse</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/impl">Not Implemented</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
|||&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/clients/list">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
