@(color: String)

&nbsp&nbsp&nbsp&nbsp|||&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/">Home</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/redirect">Redirect</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/reverse">Reverse</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/impl">Not Implemented</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/res">Optional</a>&nbsp&nbsp&nbsp&nbsp
|||&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/about">About</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/notfound">Not Found</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/error">Error</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/todo">TODO</a>&nbsp&nbsp&nbsp&nbsp
|||&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/clients/">Clients</a>&nbsp&nbsp&nbsp&nbsp
|||&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/cookies">Cookies</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/cookies/clear">Clear Cookies</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/sessions">Sessions</a>&nbsp&nbsp&nbsp&nbsp
<a class="@color" href="/flash">Flash</a>&nbsp&nbsp&nbsp&nbsp
|||&nbsp&nbsp&nbsp&nbsp
